@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito+Sans:ital,wght@0,400;0,700;1,300&family=Spartan:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #6D98AB;
  --text-color: black;
  --resource-background-color:#A8B1B8;
  --tab-background-color:#757b80;
  --tab-text-color:white;
}

body {
  font-family: "ibm plex mono", serif;
  background-color: var(--background-color);
  color: var(--text-color)
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  cursor: default;
}

/* header */
.header {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
}

.brand {
  float: left;
  cursor: pointer;
}

.header-links {
  display: flex;
  margin-left: auto;
}

.header-links__item {
  margin-left: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
  }

  .header-links {
    margin: 1.5rem auto 0rem;
  }
}

/* content */
.main__content {
  
  display: flex;
  flex-direction: column;
  background-color: inherit;
  width: 980px;
  margin: 0 auto;
  align-items: center;
  flex: 1 1 0%;
}

.main__content-data {
  margin: 10px 0;
  width: 640px;
}

/* tab */

.tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--tab-background-color);
  color: var(--tab-text-color);
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-item {
  color: inherit;
  background-color: var(--tab-background-color);
  width: auto;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  transition: 0.3s;
}

.tab-item:hover {
  background-color: #bebebe;
}

.tab-item--active,
.tab-item:active {
  background-color: black;
  color: white;
}

/* resources */

.resources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color:var(--resource-background-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


.resources__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
  
}

.resources__item-title {
  text-transform: uppercase;
}

.resources__item-tags{
  font-size: 0.6rem;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.resources__item-tags__item {
  background: #eeeeee;
  color: var(--text-color);
  border-radius: 3px 0 0 3px;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 15px 0 5px;
  position: relative;
  margin-right: 10px;
}

/* .resources__item-tags__item:before {
  background: var(--resource-background-color);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 6px;
  position: absolute;
  width: 6px;
  top: 6px;
} */

.resources__item-tags__item:after {
  background: var(--resource-background-color);
  border-bottom: 7px solid transparent;
  border-left: 6px solid #eee;
  border-top: 7px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.resources__item-link__item {
  text-decoration: none;
  font-weight: bold;
  color: rgba(33, 0, 124, 0.733);
}

.seperator {
  border-bottom: 1px solid rgb(42, 42, 42);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .main__content ,
  .main__content-data {
    width: 90%;
  }
}

.container__footer {
  color: var(--text-color);
  height: 3rem;
  display: flex;
  place-content: center;
  align-items: center;
}

/* cta button */

.arrow-button {
  display: flex;
  color: #C2FFE9;
  background-color: #00E692;
  padding: 8px 14px;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  width: 120px;
  outline: none;
  border: 1px solid gray;
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #C2FFE9;
  border-bottom: 2px solid #C2FFE9;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  background-color: #017A4F;
  color: #fff;
}

.resources__item-rating {
  line-height: 2rem;
}
